<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="stylesheets/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{> header}}
    <div class="container-fluid">
      {{{body}}}
    </div>

  </body>

</html>
