<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheet/bootstrap/dist/css/bootstrap.min.css">
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Congratulations!</h1>
  <p>Your request has been accepted into the queue.</p>
  <p>Please await a text message soon about your position in the queue.</p>
</div>

</body>
</html>
