<div class="container">
  <h1>Congratulations {{name}}!</h1>
  <p>Your request for {{num_passengers}} people has been accepted into the queue.</p>
  <p>We will send a short text message to {{phone_number}} soon about your position in the queue.</p>
</div>

{{#each ride_request}}
  <input type="hidden" class="hidden_location" value="{{location}}"/>
{{/each}}

<div class="container" id"maps_container">
  <head>
    <style>
      #map {
        height: 800px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Your pickup location:</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var troy = { lat:42.7307766, lng:-73.6772166 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: troy
        });

        $(".hidden_location").each( function(value) {
          var o = JSON.parse(value);
          console.log(o);
          var marker = new google.maps.Marker({
            position: o,
            map: map
          });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
        })




      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe5Owcj0cRZ6QeR8XHsJOIdsTvvpTbuyU&callback=initMap">

    </script>
  </body>
</div>
